$mine: #373737;
$copper: #bb8934;
$white: #ffffff;

@font-face {
  font-family: "Morion-Light";
  src: url(../CodingChallenge/fonts/Morion-Light.WOFF);
}
@font-face {
  font-family: "Morion-UltraLight";
  src: url(../CodingChallenge/fonts/Morion-UltraLight.WOFF);
}
@font-face {
  font-family: "AktivGrotesk-Bold";
  src: url(../CodingChallenge/fonts/AktivGrotesk-Bold.WOFF);
}
@font-face {
  font-family: "AktivGrotesk-Regular";
  src: url(../CodingChallenge/fonts/AktivGrotesk-Regular.WOFF);
}
@font-face {
  font-family: "AktivGrotesk-Medium";
  src: url(../CodingChallenge/fonts/AktivGrotesk-Medium.WOFF);
}
@font-face {
  font-family: "AktivGrotesk-Light";
  src: url(../CodingChallenge/fonts/AktivGrotesk-Light.WOFF);
}

$morion-light: "Morion-Light";
$morion-ultra-light: "Morion-UltraLight";
$aktivgrotesk-bold: "AktivGrotesk-Bold";
$aktivgrotesk-regular: "AktivGrotesk-Regular";
$aktivgrotesk-medium: "AktivGrotesk-Medium";
$aktivgrotesk-light: "AktivGrotesk-Light";
